################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DotNetTasks/FileContentIndex/40af7685-a171-44bc-bd10-ade77d4c895e.vsidx
/.vs/DotNetTasks/FileContentIndex/5140b51b-4986-414d-ab87-2d0ba2d8c8ad.vsidx
/.vs/DotNetTasks/FileContentIndex/5bfa39b8-d3c0-4297-84a8-f074938d923b.vsidx
/.vs/DotNetTasks/FileContentIndex/651c5e7f-1061-462c-8b2c-c2a05a4956ba.vsidx
/.vs/DotNetTasks/FileContentIndex/8989436d-7d67-41c2-a94c-9fdf1dc48fa3.vsidx
/.vs/DotNetTasks/FileContentIndex/b5696246-01a0-41c0-a02b-7db419e93659.vsidx
/.vs/DotNetTasks/FileContentIndex/e751134e-df77-4ca8-830e-bb729039e2d6.vsidx
/.vs/DotNetTasks/FileContentIndex/7308e319-a164-4088-9c85-9fcb7a8362b8.vsidx
/.vs/DotNetTasks/FileContentIndex/aa717ea0-c136-455c-a4fb-4261f675db30.vsidx
*.vsidx
